# Ignore arquivos de log
*.log

# Ignore diretórios temporários
tmp/
temp/

# Ignore arquivos de sistema operacional
.DS_Store
Thumbs.db

# Ignore dependências do Node.js
node_modules/

# Ignore arquivos de build
dist/
build/

# Ignore arquivos de configuração de ambiente
.env
.env.local
qrcodepix.png
bot_logs.txt

# Ignore caches e arquivos do Windows
__pycache__/
*.pyc
desktop.ini