# Ignorar misc
ficha_*.txt
inventario_*.txt
qrcodepix.png
requirements.txt
cookies.txt
# Ignore arquivos de log
*.log
credentials.json
# Ignore diretórios temporários
tmp/
temp/

# Ignore arquivos de sistema operacional
.DS_Store
Thumbs.db

# Ignore dependências do Node.js
node_modules/

# Ignore arquivos de build
dist/
build/

# Ignore arquivos de configuração de ambiente
.env
.env.local
qrcodepix.png
bot_logs.txt
